<div id="tailor-mail-plus__meta-box__shortcode">
    <p>To display the contact form on your page, simply add the following shortcode in the editor:</p>
    <div class="shortcode-area">
        [{{ PLUGIN_SLUG }} id="{{ post_id }}"]
    </div>
</div>