/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-imandresi-blockordion {
	$active_color: #e5f3ff;

	.blockordion__item {

		header {
			.blockordion__navbar {
				.blockordion__button {
					width: 36px;
					height: 36px;
					background-size: 20px;
				}
			}
		}

		&.blockordion__active {
			background-color: $active_color;

			header {
				background-color: $active_color;
			}

		}

	}

	.components-dropdown {
		font-family: sans-serif;
	}
}
