.simply-send__buttons {
  text-align: center;
}
.simply-send__buttons button {
  min-width: 150px;
}
@media screen and (max-width: 360px) {
  .simply-send__buttons button {
    width: 100%;
  }
}

.simply-send__contact-form label {
  font-weight: bold;
}
.simply-send__contact-form .simply_send_error {
  color: red;
  font-size: 90%;
}
