
.simply-send__buttons {
  text-align: center;

  button {
    min-width: 150px;
  }

  @media screen and (max-width: 360px) {
    button {
      width: 100%;
    }
  }

}

.simply-send__contact-form {
  label {
    font-weight: bold;
  }

  .simply_send_error {
    color: red;
    font-size: 90%;
  }
}