<div class="panel-white">
    <h2 class="title" style="margin: 0 0 30px 0;">SendGrid Configuration</h2>
    <table class="form-table">
        <tbody>
        <tr>
            <th>Sendgrid API Key</th>
            <td>
                <input type="text"
                       class="regular-text code"
                       name="mailer_settings[mailers][sendgrid][api_key]"
                       value="{{ mailer_settings.mailers.sendgrid.api_key }}"
                       style="width:100%;"
                />
            </td>
        </tr>
        </tbody>
    </table>
</div>