<table class="form-table">
    <tr>
        <th>Contact Form</th>
        <td>
            <div><a href="{{ owner.href }}">{{ owner.title }}</a></div>
        </td>
    </tr>

    {% for key, value in fields %}
        <tr>
            <th>{{ key }}</th>
            <td>
                <div class="tailor-mail-plus-code">{{ value | nl2br }}</div>
            </td>
        </tr>
    {% endfor %}
</table>