.tailor-mail-plus-form-container {

  .tailor_mail_plus_error {
    color: red;
  }

  label {
    font-weight: bold;
    color: #444444;
  }

  input, textarea {
    color: #888888 !important;
  }

}