#tailor-mail-contact-form-toolbar {
  //position: relative;
}

.tailor-mail__toolbar {
  background-color: #d7e2fd;
  padding: 5px;

  .tailor-mail__toolbar__button {
    display: inline-block;
    margin: 2px 2px;
  }

}

