<p>In this area, you can create your contact form by combining its individual controls code with HTML to achieve
    the final presentation. You can use Bootstrap in your code.</p>

{%- set textarea_content %}
    {%- if is_new_post -%}
        {%  include('contact-forms/default-form-template.html.twig') %}
    {%- else -%}
        {{- form_code | escape -}}
    {% endif -%}
{% endset -%}

<textarea class="tailor-mail__form-builder"
          rows="10"
          name="tailor_mail[form_code]"
          spellcheck="false">{{ textarea_content | raw }}</textarea>
