<div id="tailor-mail__meta-box__mail">
    <p>
        Modify the mail template here. You can use the fields:
        <span id="form-control-names-area"></span>
    </p>
    <table class="form-table">
        <tr>
            <th>
                <label for="tailor-mail__field__to">To</label>
            </th>
            <td>
                <input type="text" name="tailor_mail[template][to]" id="tailor-mail__field__to" value="{{ template.to }}">
            </td>
        </tr>

        <tr>
            <th>
                <label for="tailor-mail__field__from">From</label>
            </th>
            <td>
                <input type="text" name="tailor_mail[template][from]" id="tailor-mail__field__from" value="{{ template.from }}">
            </td>
        </tr>

        <tr>
            <th>
                <label for="tailor-mail__field__subject">Subject</label>
            </th>
            <td>
                <input type="text" name="tailor_mail[template][subject]" id="tailor-mail__field__subject" value="{{ template.subject }}">
            </td>
        </tr>

        <tr>
            <th>
                <label for="tailor-mail__field__message">Message</label>
            </th>
            <td>
                <textarea name="tailor_mail[template][message]" id="tailor-mail__field__message" rows="10">
                    {{- template.message -}}
                </textarea>
            </td>
        </tr>

    </table>
</div>